/models
/mlruns
tools/ip_minitor.py
tools/telegram_notify.py
FA.png
SA.png
**/*.cpython-311.pyc
**/*-checkpoint.py
**/*-checkpoint.json
**/*-checkpoint.png
**/*-checkpoint.csv
**/*-checkpoint.ipynb
**/*.yaml
**/*.pth
**/MLmodel
**/desc.txt
**/requirements.txt
**/pickle_module_info.txt
